@import "./normalize/reset";
@import "./components/cabecera";

body {
  background-color: #1f1e26;
}
img {
  max-width: 100%;
}
h1 {
  font-size: 5rem;
  color: #f25c05;
}
p {
  font-size: 1rem;
  justify-content: center;
  color: #f25c05;
}
